.App {
  text-align: center;
  color: black;
}

#text {
  margin: 5px;
  border: 2px solid black;
}

ul {
  list-style: none;
}

li {
  margin: 15px;
  font-size: 20px;
}

input {
  font-size: 20px;
  color: black;

}

button {
  color: black;
  font-size: 20px;
  margin-left: 5px;
}
#delete {
  margin-left: 10px;
}

li.completed {
  text-decoration: line-through;
}

input[type="text"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  border-radius: 0;
}