.App {
  text-align: center;
  color: black;
}

h1 {
  background-color: #1b7ced;
  width: 45%;
  margin: 0 auto;
}

#text {
  margin: 5px;
  border: 2px solid black;
}

ul {
  list-style: none;
}

li {
  margin: 15px;
  font-size: 25px;
  background-color: white;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  font-size: 20px;
  color: black;
}

button {
  -webkit-appearance: none;
  color: black;
  font-size: 20px;
  margin-left: 5px;
}

#delete {
  margin-left: 25px;
  font-size: 15px;
}

li.completed {
  text-decoration: line-through;
}

#clear {
  margin-top: 40px;
}
